* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background: #f3f3f3;
}
input, button {
    outline: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#app {
  padding: 0 15px;
}
