//颜色变量
$bgColor: #F3F3F3;
$activeColor:#E7E7E7;
$tableHeadColor:#EBE9EA;
$tableOddColor:#F8F8F8;
$borderColor:#F0F0F0;
$goldColor:#aa8e69;
$darkGoldColor:#3C321F;
$blackColor:#262626;
$disabledColor:#C0C0C0;
$fontColorBlack:#333333;
$fontColorGlay:#a6a6a6;
$fontColorDark:#808080;
$fontColorRed:#f23231;
$fontColorDarkGray: #909090;
$backgroundColorGray: #f6f6f6;
$bgShallowColor: #fafafa;
$borderShallowColor: #e6e6e6;
$grayColor: #efeeee;
